# Node Modules
node_modules/

# Playwright
playwright-report/
blob-report/
test-results/

# System files
*.log
*.tmp
*.swp

# OS files
.DS_Store        # macOS
Thumbs.db        # Windows

# IDE files
.idea/
.vscode/